<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Bricks">
      <section name="Bricks" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <Bricks>
    <Bricks>
      <add key="RecheckDurationInMilliseconds" value="101" />
    </Bricks>
  </Bricks>
</configuration>